<div class="ui centered grid">
  <div>
    <%= form_with model: [@box,@item] do |form| %>
      <% if @box.errors.any? %>
        <div id="error_explanation">
          <h2 class="red ui header"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <div class="ui list">
            <% @item.errors.each do |error| %>
              <div class="item">
                <i class="red times circle icon"></i>
                <%= error.full_message %>
              </div>
            <% end %>
          </div> 
        </div>
      <% end %>

      <div class="field">
        <%= form.label :description, class:"form-label"%>
        <%= form.text_area :description, class:"form-control field-name", placeholder:"Enter description" %>
      </div>

      <div class="field field-avatar">
        <%= form.label "Item image" %>
        <%= form.file_field :image%>
      </div>

      <div class="actions submit-button">
        <%= form.submit class:"btn btn-primary btn-sm" %>
      </div>
    <%end%>
  </div>
</div>