<!DOCTYPE html>
<html>
  <head>
    <title>MiBodega</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
  </head>

  <body>

    <div class="ui menu">
      <%if user_signed_in? %>
        <div class="header item">
          <%= link_to "Home", users_path %>
        </div>
        <a class="ui item">
          <%=link_to 'Account list', accounts_path, method: :get %>
        </a>
        <a class="ui item">
          <%=link_to 'Boxes list', boxes_path, method: :get %>
        </a>
        <a class="ui item">
          <%=link_to 'Invite to account', new_membership_path, method: :get %>
        </a>
        <div class="right menu">
          <%if current_user.current_tenant_id==nil %>
            <a class="ui item">
              No account
            </a>
            <%else%>
              <a class="ui item">
                <%= Account.find_by(id: current_user.current_tenant_id).name %>
              </a>  
          <%end%>
          <a class="ui item">
            <%=link_to 'Log out', destroy_user_session_path, method: :delete %>
          </a>      
        </div>
        <%else%>
          <div class="right menu">
            <a class="ui item">
              <%=link_to 'Log in', new_user_session_path %>
            </a>
            <a class="ui item">
              <%=link_to 'Sign up', new_user_registration_path %>
            </a>
              
          </div>
      <%end%>
    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
