<h1 class="index-title">Billing account info</h1>

<div class="ui centered grid">
  <div>
    <table class="ui very basic collapsing celled table">

      <thead>
        <tr><th>Card information</th>
        <th>Product price</th>
        <th>Next paymente date</th>
      </tr></thead>

      <tbody>
        <tr>
          <td>
            <div class="content">
            <%= @current_account.card_type %>
              <div class="sub header"> *****<%= @account.card_last4 %> </div>
            </div>
          </td>
          <td>
            <%= number_to_currency(Account.prices[@account.plan.to_sym]/100) %>/month
          </td>
          <td>
            <%= to_date(@subscription[:current_period_end].to_s) %>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="ui very basic collapsing celled table">
      <thead>
        <tr>
          <th> Amount (USD) </th>
          <th> Payment Date  </th>
          <th> Product type </th>
        </tr>
      </thead>
      <tbody>
        <% @charges.each do |charge| %>
          <tr>
            <td><%= number_to_currency(charge[:amount]/100) %> </td>
            <td><%= to_date(charge[:created].to_s) %></td>
            <td><%= charge[:description] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>