<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <%= f.fields_for :account do |ac| %>
    
    <div class="field">
      <%= ac.label :card_number, "Card number" %>
      <%= ac.text_field :card_number, required: true, class: "form-control"  %>
    </div>

    <div class="field">
      <%= ac.label :cvc, "CVC" %>
      <%= ac.text_field :cvc, required: true %>
    </div>

    <div class="field"> 
      <div class="row">
        <div class="col-12">
          <%= ac.label :card_expires, "Card expires" %>
        </div>
        <div class="col-6">
          <%= ac.select :card_exp_month, options_for_select(Account.month_options), required: true, class: "form-control" %>
        </div>
        <div class="col-6 pl-sm-0">
          <%= ac.select :card_exp_year, options_for_select(Account.year_options), required: true, class: "form-control" %>
        </div>
      </div>
    </div>
  
  <%end%>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
