<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%# <h4 class="ui dividing header">Account information</h4> %>
    
  <%= f.fields_for :account do |ac| %>
    <div class="field">
      <%= ac.label :name, "Account name" %><br />
      <%= ac.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= ac.label :subdomain, "Account subdomain" %><br />
      <%= ac.text_field :subdomain, required: true %>
    </div>

    <div class="field">
      <%= ac.label :plan, "Plan" %><br />
      <%= ac.select :plan, options_for_select(["free", "moderate", "unlimited"]), {}, id: "tenant_plan" %>
    </div>

    <div class="field">
      <%= ac.label :card_number, "Card number" %>
      <%= ac.text_field :card_number, required: true, class: "form-control"  %>
    </div>

    <div class="field">
      <%= ac.label :cvc, "CVC" %>
      <%= ac.text_field :cvc, required: true %>
    </div>

    <div class="field"> 
      <div class="row">
        <div class="col-12">
          <%= ac.label :card_expires, "Card expires" %>
        </div>
        <div class="col-6">
          <%= ac.select :card_exp_month, options_for_select(Account.month_options), required: true, class: "form-control" %>
        </div>
        <div class="col-6 pl-sm-0">
          <%= ac.select :card_exp_year, options_for_select(Account.year_options), required: true, class: "form-control" %>
        </div>
      </div>
    </div>

  <%end%>
         
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
